@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap");
/* global  */
h1 {
  font-size: 3.5em;
  font-weight: 600;
}
h1.page-header {
  color: #f1cb98;
  border: 0;
}

body {
  opacity: 1;
  background-color: #28599b;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* region header ///////////////////////////// */
/* header */
#navbar {
  background-color: transparent;
  background-image: url("../images/headerBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 141px;
  width: 100%;
  max-width: 100vw;
  margin-bottom: 0;
  padding-top: 40px;
}
#navbar #block-biblecal-account-menu {
  display: none;
}
#navbar.navbar-default .navbar-nav > .open > a {
  background-color: rgba(255, 255, 255, 0.2);
}
#navbar.navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#navbar.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
#navbar.navbar-default .dropdown-menu {
  background: #295ba0;
}
#navbar.navbar-default .dropdown-menu > li > a:hover {
  background: #114da0;
}
#navbar .navbar-brand {
  display: none;
}
#navbar .logo img {
  max-width: calc(100vw - 128px);
}
#navbar .navbar-toggle {
  top: 15px;
}
#navbar .menu {
  float: left;
  clear: both;
}
#navbar .menu li a {
  color: #fff;
}
#navbar .menu li.active a {
  background: rgba(255, 255, 255, 0.4);
}
#navbar .topBar {
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
}
#navbar .topBar .block-search-form-block {
  width: 200px;
  float: left;
}
#navbar .topBar .language-switcher-language-url {
  float: right;
}
#navbar .topBar .language-switcher-language-url > ul.links {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#navbar .topBar .language-switcher-language-url > ul.links li {
  list-style-type: none;
  padding: 5px;
}
#navbar .topBar .language-switcher-language-url > ul.links li a {
  color: #fff;
}

/* language */
#block-heroimages {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  height: 365px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
}
#block-heroimages .scroller_wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  animation: banner linear 100s infinite;
}
#block-heroimages .scroller_wrapper ul li {
  flex: 1 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 365px;
  width: 342px;
  min-width: 342px;
  background-repeat: no-repeat;
  background-size: cover;
}
#block-heroimages .scroller_wrapper ul li:nth-child(1) {
  background-image: url(../images/bannerImage_01.jpg);
}
#block-heroimages .scroller_wrapper ul li:nth-child(2) {
  background-image: url(../images/bannerImage_02.jpg);
}
#block-heroimages .scroller_wrapper ul li:nth-child(3) {
  background-image: url(../images/bannerImage_03.jpg);
}
#block-heroimages .scroller_wrapper ul li:nth-child(4) {
  background-image: url(../images/bannerImage_04.jpg);
}
#block-heroimages .scroller_wrapper ul li:nth-child(5) {
  background-image: url(../images/bannerImage_05.jpg);
}
#block-heroimages .scroller_wrapper ul li:nth-child(6) {
  background-image: url(../images/bannerImage_06.jpg);
}
#block-heroimages .scroller_wrapper ul li:nth-child(7) {
  background-image: url(../images/bannerImage_07.jpg);
}

/* region highlighted ///////////////////////////// */
.region-highlighted {
  padding-top: 2em;
}

.main-container {
  background-image: url(../images/background.jpg);
  background-size: 115%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #28599b;
  color: #fff;
}
.main-container .main-inner {
  background-color: #28599b;
  padding-bottom: 3em;
}
.main-container > .row aside {
  height: 70px;
}
.main-container > .row section {
  width: 100%;
}
.main-container > .row aside {
  width: 100%;
  clear: both;
}
.main-container a {
  color: #fff;
}
.main-container .well {
  color: #333;
}
.main-container .well a {
  color: #fff;
}
.main-container .panel .panel-body {
  color: #000;
}
.main-container .region-sidebar-second {
  display: none;
}

/* region footer ///////////////////////////// */
.footer {
  border: none;
}
.footer .container {
  position: relative;
  top: 1em;
}
.footer.footer {
  border-top: 1px solid #000;
  margin-top: 0;
}
.footer.footer a {
  color: #fff;
}

.path-frontpage .featuredlinks a {
  display: block;
}
.path-frontpage .featuredlinks a img {
  width: 100%;
}
.path-frontpage .featuredlinks a:hover {
  transform: scale(1.05);
}
.path-frontpage .main-container {
  padding-top: 0 !important;
}
.path-frontpage #block-subhero {
  background: #4a98dc;
  color: #fff;
  padding: 2em;
  text-align: center;
  font-size: 2em;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-bottom: 50px;
}

.path-calendar .view-significant-dates .content, .path-calendar .view-significant-dates footer {
  display: none;
}
.path-calendar .breadcrumb {
  display: none;
}
.path-calendar .main-container {
  max-width: 100%;
  width: 100%;
}
.path-calendar .main-container .row section.col-sm-12, .path-calendar .main-container .row section.col-sm-9 {
  padding: 0;
}
.path-calendar .main-container .row section.col-sm-12 section, .path-calendar .main-container .row section.col-sm-9 section {
  padding: 1em;
}
.path-calendar #block-heroimages {
  display: none;
}
.path-calendar #block-calendarblock, .path-calendar #block-calendarpagebottomtext {
  max-width: 976px;
  width: 80%;
  margin: auto;
}
.path-calendar h1 {
  text-align: center;
}
.path-calendar h1.page-header {
  display: none;
}
.path-calendar #block-calendarnavblock {
  background-color: #28599b;
  box-shadow: 0px 0px 5px #000;
  margin-bottom: 2em;
}
.path-calendar #block-calendarnavblock .calendar_nav {
  padding: 1em 0;
}
.path-calendar #block-calendarnavblock .calendar_nav .input-group-addon {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.path-calendar .region-content {
  border-top: 1px dotted #ccc;
  padding-top: 1em;
  margin-top: 1em;
}
.path-calendar .SignificantDateRow {
  margin-bottom: 1em;
}
.path-calendar .SignificantDateRow h2 {
  background: #eee;
  color: #fff;
  padding: 10px;
  margin: 0;
  border-radius: 0.5em;
  font-size: 1.5em;
}
.path-calendar .SignificantDateRow h2 a {
  color: #999;
}
.path-calendar .calendarWrapper {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  padding: 2em;
  background: #3a82de;
}
.path-calendar .calendarWrapper .clear {
  clear: both;
}
.path-calendar .calendarWrapper .calendarMarkup {
  margin-bottom: 10px;
  /*
  display:grid;

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  grid-gap: 5px;
  */
}
.path-calendar .calendarWrapper .calendarMarkup::after {
  display: block;
  clear: both;
}
.path-calendar .calendarWrapper .calendarMarkup .Column {
  border: 1px solid #000;
  background-color: #2196F3;
  margin: 0 0 10px;
  float: left;
  width: 4.9%;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-align: center;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.GC {
  background-color: #1f1f1f;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.GC.Month {
  background: transparent;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.HCC {
  background: #a50000;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.HCC.Month {
  background-color: transparent;
  color: #7f9aac;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC {
  background: #0000aa;
  color: #fff;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.Month {
  background: transparent;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.Month.first {
  background: #0000aa;
  color: #fff;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.SabbathCount, .path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.SabbathCountEnd {
  background: #fff;
  color: #000;
}
.path-calendar .calendarWrapper .calendarMarkup > div {
  display: block;
}
.path-calendar h3 {
  clear: both;
}
.path-calendar #block-views-block-expanded-calendar-information-block-1 {
  position: fixed;
  width: 100%;
  height: calc(100vh - 60px);
  height: 150px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.2);
  top: 60px;
  left: 0;
  z-index: 78;
  overflow: hidden;
  position: static;
  border: 2px dashed #ccc;
  color: #000;
  margin: 2em 0;
}
.path-calendar #block-views-block-expanded-calendar-information-block-1 .expanded-calendar-wrapper .view-content {
  margin-bottom: 2em;
  display: flex;
}
.path-calendar #block-views-block-expanded-calendar-information-block-1 .expanded-calendar-wrapper .view-content .views-row {
  flex: 1 auto;
}
.path-calendar #block-calendarpagebottomtext {
  margin-top: 2em;
}
.path-calendar #block-calendarpagebottomtext h2 {
  display: none;
}

.view-id-biblical_charts .view-content {
  display: block;
}
.view-id-biblical_charts .view-content .views-row {
  float: left;
  width: 50%;
  background-image: url(/sites/default/files/linkIcon.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 184px;
  margin: 0 10px;
  padding: 2em;
}
.view-id-biblical_charts .view-content .views-row .views-field-title {
  font-size: 2em;
}

/* timeline */
.view-timeline .timeline-line {
  transition: all ease 0.3s;
  border-left: 2px solid #b2ccdd;
  position: absolute;
  width: 1px;
  left: 0;
}
.view-timeline .timeline-line::before {
  content: "";
  border-top: 2px solid #b2ccdd;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
}
.view-timeline .timeline-line::after {
  content: "";
  border-top: 2px solid #b2ccdd;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
}
.view-timeline .timeline-line.hover {
  border-color: orange;
}
.view-timeline .timeline-line.hover::before {
  border-color: orange;
}
.view-timeline .timeline-line.hover::after {
  border-color: orange;
}
.view-timeline .view-content {
  position: relative;
  z-index: 300;
}
.view-timeline .views-row {
  font-size: 1.3em;
  margin: 1em 0;
  display: flex;
  transition: all ease 0.3s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: #28599b;
}
.view-timeline .views-row .views-field-title {
  transition: all ease 0.3s;
}
.view-timeline .views-row.hover {
  border: 1px solid orange;
}
.view-timeline .views-row.hover .views-field-title {
  text-indent: 2px;
}
.view-timeline .views-row.duplicate .views-field-field-gc-era, .view-timeline .views-row.duplicate .views-field-field-gc-year {
  visibility: hidden;
}
.view-timeline .views-row.connected {
  border-left: 3px solid pink;
}
.view-timeline .views-row > * {
  flex: 1 auto;
  padding: 0.4em;
}
.view-timeline .views-row > *.views-field-field-gc-year {
  order: 1;
  background: #333;
  color: #fff;
  padding-right: 0;
}
.view-timeline .views-row > *.views-field-field-gc-era {
  order: 2;
  background: #333;
  color: #fff;
}
.view-timeline .views-row > *.views-field-title {
  order: 3;
  flex: 1 99%;
}
.view-timeline .views-row > *.views-field-field-am-year {
  position: absolute;
  right: 0;
  white-space: nowrap;
  display: flex;
}
.view-timeline .views-row > *.views-field-field-am-year .field-content {
  margin-left: 5px;
}
.view-timeline .views-row > *.views-field-field-related {
  position: absolute;
  right: 50px;
  display: none;
}
.view-timeline.horiz {
  overflow: auto;
  height: 350px;
}
.view-timeline.horiz .view-content {
  position: static;
  margin-left: 0 !important;
  top: 0;
  left: 0;
  height: 350px;
  overflow: auto;
  display: flex;
}
.view-timeline.horiz .view-content .views-row {
  flex: 1 auto;
  min-width: 300px;
  display: block;
  position: relative;
}
.view-timeline.horiz .view-content .views-row *.views-field-field-am-year {
  position: static;
  right: 0;
  clear: both;
  width: 100%;
  float: none;
  display: flex;
}
.view-timeline.horiz .view-content .views-row *.views-field-field-related {
  position: static;
  right: 50px;
}
.view-timeline.horiz .view-content .views-row *.views-field-field-gc-era {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
.view-timeline.horiz .view-content .views-row *.views-field-title {
  margin-top: 50px;
}
.view-timeline.horiz .view-content .views-row *.views-field-field-gc-year {
  float: left;
  position: absolute;
  top: 0;
  left: 38px;
}

.view-biblical-articles .dataTable thead th {
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  white-space: nowrap;
}
.view-biblical-articles .dataTable tr {
  background-color: transparent;
}
.view-biblical-articles .dataTable tr.odd {
  background-color: rgba(0, 0, 0, 0.2);
}
.view-biblical-articles .dataTable tr.even {
  background-color: transparent;
}
.view-biblical-articles .dataTables_filter input {
  height: 35px;
  border: 1px solid #333;
  border-radius: 4px;
}

.region-highlighted .breadcrumb {
  background: #333;
}

.region-header .page-header {
  margin-top: 1em;
}

@keyframes banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media all and (min-width: 768px) {
  .view-id-biblical_charts .view-content {
    display: block;
  }
  .view-id-biblical_charts .view-content .views-row {
    float: left;
    width: 25%;
  }
}